// Colors
$primary: #5e81f4;
$primary-light: #eef2fd;
$primary-light-dark: #e5e9f9;
$secondary: #ff606d;
$secondary-light: #fef2f3;
$main-color: #f5f5fb;
$bg-color: #fff;
$border: #e3e3eb;
$text: #131336;
$text-secondary: #9a9abe;
// Fonts
$font-family-body: 'Mulish',
sans-serif;
$font-family-logo: 'Ubuntu',
Helvetica,
sans-serif;
// Sizes
$admin-header-height: 6.25em;
$admin-footer-height: $admin-header-height;
$admin-nav-width: 11.75em;
$admin-aside-width: 19.5em;
$spacing-l: 2.5em;
$spacing: 2em;
$spacing-s: 1em;
$spacing-xs: .75em;
$spacing-xxs: .5em;
$spacing-xxxs: .3em;
$spacing-xxxxs: .1em;
$logo: 1.3em;
$font-logo: 1.1rem;
$font: 1rem;
$font-s: .9rem;
$font-xs: .8rem;
$font-xxs: .75rem;
$main-grid-template-rows: $admin-header-height 1fr min-content;
$main-border: 1px solid $border;
$main-spacing-vert: .7em; //2.7em;
$main-spacing-hor: 1.75em;
$main-padding: $main-spacing-vert $main-spacing-hor 0 $main-spacing-hor;
// Styles
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family-body;
    color: $text;
    background-color: $bg-color;
    display: grid;
    height: 100vh;
    grid-template-rows: $admin-header-height 1fr; //$admin-footer-height;
    grid-template-columns: $admin-nav-width 1fr $admin-aside-width;
    grid-template-areas: "header_nav header_main header_aside" "nav main aside" "nav main aside"; // "footer footer footer";
}

body::after {
    content: "";
    background: url(../art_reference/web.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    opacity: 0.0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

input {
    font-family: $font-family-body;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: $text;
}

nav,
main,
aside {
    display: grid;
    grid-template-rows: $main-grid-template-rows;
    padding: $main-padding
}

header {
    padding: $main-padding;
    align-items: center;
    z-index: 2;
}

.header_nav {
    grid-area: header_nav;
    display: grid;
}

.header_main {
    grid-area: header_main;
    background-color: $main-color;
    display: grid;
    grid-template-columns: 1fr max-content min-content;
    gap: $spacing-s;
    border-left: $main-border;
    border-right: $main-border;
}

.header_aside {
    grid-area: header_aside;
    display: grid;
    grid-template-columns: 1fr min-content;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
    background-color: $main-color;
    border-left: $main-border;
    border-right: $main-border;
}

.logo {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: $spacing-s;
    font-size: $font-logo;
    font-family: $font-family-logo;
}

.logo img {
    width: $logo;
}

.logo span {
    font-size: $font-logo;
    font-weight: 600;
}

.header_main .title {
    font-weight: 700;
    font-size: $font-s;
}

.header_main .date {
    font-size: $font-xs;
    color: $text-secondary;
}

.header_main i {
    font-size: $font-s;
    color: $primary;
    background-color: $primary-light-dark;
    padding: $spacing-xs;
    border-radius: $spacing-xxs;
}

.header_aside .title {
    font-size: $font-xs;
}

.header_aside i {
    color: $text-secondary;
}