// Colors
$primary: #5e81f4;
$primary-light: #eef2fd;
$primary-light-dark: #e5e9f9;
$secondary: #ff606d;
$secondary-light: #f7e5e9;
$secondary-lighter: #fef2f3;
$main-color: #f5f5fb;
$bg-color: #fff;
$border: #e3e3eb;
$text: #131336;
$text-secondary: #b1b6d1;
$text-inverted: #fff;
$text-date: #9a9abe;
$progress-bg: #e1e2eb;
$vocabulary: #ff808b;
$grammar: #4d4cac;
$listening: #5e81f4;
$writing: #c8c9e9;
// Fonts
$font-family-body: 'Mulish',
sans-serif;
$font-family-logo: 'Ubuntu',
Helvetica,
sans-serif;
// Sizes
$admin-header-height: 6.25em;
$admin-footer-height: $admin-header-height;
$admin-nav-width: 11.75em;
$admin-aside-width: 19.5em;
// Spacing
$spacing-xl: 3em;
$spacing-l: 2.5em;
$spacing: 2em;
$spacing-m: 1.5em;
$spacing-s: 1em;
$spacing-xs: .75em;
$spacing-xxs: .5em;
$spacing-xxxs: .3em;
$spacing-xxxxs: .1em;
$logo: 1.3em;
$upgradeIcon: 4.5em;
$upgradeIconMargin: -3em;
// Fonts
$font-logo: 1.1rem;
$font-message-count: .5rem;
$font-l:1.25rem;
$font: 1rem;
$font-s: .9rem;
$font-xs: .8rem;
$font-xxs: .75rem;
$font-xxxs: .7rem;
// Other spacing
$main-grid-template-rows: 1fr min-content;
$main-border: 1px solid $border;
$main-spacing-vert: .7em; //2.7em;
$main-spacing-hor: 1.75em;
$main-padding: $main-spacing-vert $main-spacing-hor 0 $main-spacing-hor;
$nav-active-border: 3px solid $primary;
$nav-active-margin: 14.6em;
$nav-message-count-size: 1.5em;
$main-welcome-back-anna-size: 17.5em;
$main-welcome-back-anna-margin: 5em;
$progress-height: .4em;
// Styles
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: $font-family-body;
    color: $text;
    background-color: $bg-color;
    display: grid;
    // height: 100vh;
    grid-template-rows: $admin-header-height 1fr; //$admin-footer-height;
    grid-template-columns: $admin-nav-width 1fr $admin-aside-width;
    grid-template-areas: "header_nav header_main header_aside" "nav main aside" "nav main aside"; // "footer footer footer";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body::after {
    content: "";
    background: url(../art_reference/web.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    opacity: 0.0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

input {
    font-family: $font-family-body;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: $text;
}

nav,
main,
aside {
    display: grid;
    grid-template-rows: $main-grid-template-rows;
}

header {
    padding: $main-padding;
    align-items: center;
    z-index: 2;
}

.header_nav {
    grid-area: header_nav;
    display: grid;
}

.header_main {
    grid-area: header_main;
    background-color: $main-color;
    display: grid;
    grid-template-columns: 1fr max-content min-content;
    gap: $spacing-s;
    border-left: $main-border;
    border-right: $main-border;
}

.header_aside {
    grid-area: header_aside;
    display: grid;
    grid-template-columns: 1fr min-content;
}

aside {
    grid-area: aside;
}

.logo {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: $spacing-s;
    font-size: $font-logo;
    font-family: $font-family-logo;
}

.logo img {
    width: $logo;
}

.logo span {
    font-size: $font-logo;
    font-weight: 600;
}

.header_main .title {
    font-weight: 700;
    font-size: $font-s;
}

.header_main .date {
    font-size: $font-xs;
    color: $text-date;
}

.header_main i {
    font-size: $font-s;
    color: $primary;
    background-color: $primary-light-dark;
    padding: $spacing-xs;
    border-radius: $spacing-xxs;
}

.header_aside .title {
    font-size: $font-xs;
    font-weight: 600;
}

.header_aside i {
    color: $text-secondary;
}

nav {
    grid-area: nav;
    grid-template-rows: 1fr min-content;
    align-items: center;
    margin-bottom: $spacing-s;
}

nav ul {
    display: grid;
    z-index: 2;
    gap: $spacing-xl;
    font-size: $font-xs;
    margin-bottom: -$upgradeIconMargin;
    padding: 0 0 0 $spacing-l;
}

nav ul li {
    display: grid;
}

nav ul a {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: $spacing;
    font-weight: 600;
    align-items: center;
    color: $text-secondary;
}

nav ul li.active a {
    color: $text;
}

nav ul li.active::after {
    content: '';
    border-right: $nav-active-border;
    position: absolute;
    height: 1.5em;
    left: $nav-active-margin;
}

nav ul li.active i {
    color: $primary;
}

nav ul li .messageCount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $nav-message-count-size;
    height: $nav-message-count-size;
    border-radius: $spacing;
    position: absolute;
    font-size: $font-message-count;
    background-color: $secondary;
    color: $text-inverted;
    margin-left: 1em;
    margin-top: -.5em;
}

nav ul i {
    font-size: $font;
}

.upgradeContainer {
    z-index: 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: $spacing;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: $main-color;
    border-radius: $spacing-s;
    margin: $spacing-s;
    padding: $spacing-s $spacing;
    font-size: $font-xxs;
    color: $text-secondary;
}

.upgradeContainer b {
    color: $text;
    font-weight: 700;
}

.upgradeContainer svg {
    width: $upgradeIcon;
    height: auto;
    justify-self: center;
    position: relative;
    margin-top: $upgradeIconMargin;
}

.upgradeContainer a {
    background-color: $primary;
    padding: $spacing-xs $spacing-s;
    border-radius: $spacing-xs;
    color: $text-inverted;
}

main {
    grid-area: main;
    background-color: $main-color;
    border-left: $main-border;
    border-right: $main-border;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr 1fr;
    padding: $spacing-xxxs $spacing;
    gap: $spacing-m $spacing-s;
}

main .welcomeBack {
    grid-column: auto / 2 span;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $secondary-light;
    border-radius: $spacing-s;
    z-index: 2;
    padding: 0 $spacing-xl;
}

main .welcomeBack svg {
    position: relative;
    justify-self: end;
    width: $main-welcome-back-anna-size;
    margin-top: -$main-welcome-back-anna-margin;
    margin-bottom: -$spacing;
}

main .welcomeBack .textContainer {
    display: grid;
    grid-template-rows: min-content min-content;
    gap: $spacing-s;
}

main .welcomeBack .title {
    font-size: $font-l;
    font-weight: 600;
    color: $secondary;
}

main .welcomeBack .subtitle {
    font-size: $font-xs;
    color: $text;
}

main .latestResults,
main .timeSpent {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: $spacing;
    background-color: $text-inverted;
    border-radius: $spacing-xs;
    padding: $spacing-m;
    z-index: 2 !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerText {
    font-size: $font-xs;
    font-weight: 800;
}

main .rightElement,
main .rightElement {
    font-size: $font-xxxs;
}

.latestResults .container ul {
    display: grid;
    gap: $spacing-xs;
}

.latestResults .container li {
    display: grid;
    grid-template-columns: max-content min-content max-content 1fr max-content;
    align-items: center;
    gap: $spacing-xs;
    font-size: $font-xxxs;
}

.latestResults .container hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: $progress-bg;
}

.latestResults .unitText,
.latestResults .unitSeperator {
    font-weight: 600;
}

.latestResults .field {
    color: $text-secondary;
}

.progressContainer {
    width: 100%;
    height: $progress-height;
    background-color: $progress-bg;
    border-radius: $progress-height;
}

.latestResults .progressContainer .progress,
.languages .progressContainer .progress {
    background-color: $primary;
    border-radius: $progress-height;
    height: 100%;
}

.latestResults .progressContainer .progress.red {
    background-color: $secondary;
}

.latestResults .progressText {
    font-weight: 600;
    color: $primary;
}

.latestResults .progressText.red {
    color: $secondary;
}

.timeSpent select {
    background: none;
    border: none;
}

.timeSpent .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: $text-secondary;
}

.timeSpent .day {
    font-size: $font-xxxs;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: $spacing;
    height: 100%;
    text-align: center;
}

.timeSpent .progressContainer {
    width: $progress-height;
    height: 100%;
    border-radius: $progress-height;
    background-color: $listening;
    justify-self: center;
}

@for $i from 0 to 8 {
    $writing-percent: random(100);
    $vocabulary-percent: random(100 - $writing-percent);
    $grammar-percent: random(100 - $writing-percent - $vocabulary-percent);
    $listening-percent: 100 - $writing-percent - $vocabulary-percent - $grammar-percent;
    .day:nth-child(#{$i}) .progressContainer {
        .vocabulary {
            background-color: $vocabulary;
            height: percentage($vocabulary-percent / 100);
        }
        .grammar {
            background-color: $grammar;
            height: percentage($grammar-percent / 100);
        }
        .listening {
            background-color: $listening;
            height: percentage($listening-percent / 100);
        }
        .writing {
            background-color: $writing;
            height: percentage($writing-percent / 100);
        }
    }
}

.timeSpent .legendContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: $font-xxxs;
    justify-content: center;
    gap: $spacing-xs;
    color: $text-secondary;
}

.circle {
    $size: .7em;
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: $vocabulary;
}

.vocabulary .circle {
    background-color: $vocabulary;
}

.grammar .circle {
    background-color: $grammar;
}

.listening .circle {
    background-color: $listening;
}

.writing .circle {
    background-color: $writing;
}

.timeSpent .legendContainer .legend {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: $spacing-xs;
}

main .courses {
    z-index: 2;
    grid-column: auto / 2 span;
}

main .coursesContainer {
    grid-column: auto / 2 span;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2;
    gap: $spacing-xs;
}

main .course {
    display: grid;
    grid-template-areas: "level field field" "level type arrow";
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content min-content;
    background-color: #4d4cac;
    color: $text-inverted;
    gap: $spacing-xs;
    padding: $spacing-s;
    align-items: center;
    border-radius: $spacing-xs;
    font-size: $font-xs;
}

main .course:nth-child(2) {
    background-color: #9698d6;
}

main .course:nth-child(3) {
    background-color: #ff808b;
}

.level {
    grid-area: level;
    background-color: rgba($color: #fff, $alpha: .1);
    padding: $spacing-s;
    border-radius: $spacing-xs;
    font-weight: 700;
}

.course .field {
    grid-area: field;
    font-size: $font-xxxs;
    opacity: .5;
}

.course .type {
    grid-area: type;
}

.course .arrow {
    grid-area: arrow;
    justify-self: end;
}

aside {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: $spacing-s;
}

aside .profile {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: $spacing-xs;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 2;
}

aside .profile svg {
    width: 8em;
    height: auto;
}

aside .profile .add {
    $size: 2em;
    width: $size;
    height: $size;
    border-radius: $size;
    border: 3px solid $text-inverted;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-inverted;
    position: relative;
    margin-top: -5em;
    justify-self: end;
}

aside .profile .name {
    font-weight: 800;
    z-index: 2;
}

aside .profile .title {
    font-size: $font-s;
    color: $text-secondary;
}

aside .languages {
    z-index: 2;
    padding: $spacing-m;
    display: grid;
    gap: $spacing-xs;
}

aside .language {
    display: grid;
    grid-template-areas: "level text progressContainer" "level levelDescription progressContainer";
    grid-template-columns: min-content 1fr .5fr;
    grid-template-rows: min-content min-content;
    gap: $spacing-xs;
    align-items: center;
    border-radius: $spacing-xs;
    font-size: $font-xs;
}

aside .reminders .language {
    grid-template-areas: "level text text" "level levelDescription levelDescription";
}

.language .level {
    grid-area: level;
    background-color: $primary-light;
    border-radius: $spacing-xs;
}

.language .progressContainer {
    grid-row: auto/ span 2;
}

.language .text {
    grid-area: text;
    font-weight: 700;
}

.language .levelDescription {
    grid-area: levelDescription;
    font-size: $font-xxxs;
}

.reminders {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: $spacing-s;
    padding: $spacing-s;
    z-index: 2;
}

.reminders .notifications {
    color: $text-secondary;
    font-size: $font-l;
}

.reminders .circle {
    $size: $spacing-xxs;
    width: $size;
    height: $size;
    border: 2px solid $text-inverted;
    margin-top: -$spacing-s;
    margin-left: $spacing-xxs;
    position: relative;
}

.level.message {
    background-color: $primary-light;
}

.level.danger {
    background-color: $secondary-light;
}

.level.message i {
    color: $primary;
}

.level.danger i {
    color: $secondary;
}

@media screen and (max-width: 1210px) {
    /* Laptop (Smaller) */
    body {
        height: 100%;
    }
    main .latestResults,
    main .timeSpent {
        grid-column: auto /2 span;
    }
    nav {
        grid-template-rows: min-content min-content;
    }
    .timeSpent .progressContainer {
        height: 12em;
    }
    .coursesContainer .course {
        grid-column: auto / 3 span;
    }
}

@media screen and (max-width: 1125px) {
    /* Laptop (Smaller) */
    // body {
    //     grid-template-areas: "header_nav header_main" "nav main" "nav main";
    //     grid-template-columns: $admin-nav-width 1fr;
    // }
    body {
        grid-template-columns: 11.75em 1fr min-content;
        grid-template-areas: "header_nav header_main" "nav main" "nav main";
    }
    main {
        grid-column: auto / 2 span;
        border-right: none;
        margin-bottom: $admin-header-height;
    }
    .header_main {
        border-right: none;
    }
    aside {
        display: none;
    }
    .header_aside {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    /* Tablet (768px) */
    body {
        grid-template-columns: 11.75em 1fr;
        grid-template-areas: "header_main header_main" "main main" "nav nav";
        background-color: $main-color;
    }
    .header_nav,
    nav .upgradeContainer,
    nav ul li.active::after,
    nav ul li.learningPlan {
        display: none;
    }
    nav {
        grid-column: auto / 3 span;
        position: fixed;
        bottom: 0;
        z-index: 3;
        background-color: #fff;
        width: 100%;
        margin: 0;
        height: auto;
        border-top: 1px solid $border;
    }
    nav ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: $spacing-s;
        margin-bottom: 0;
        gap: $spacing-xs;
    }
    nav ul a {
        grid-template-rows: min-content min-content;
        grid-template-columns: 1fr;
        place-items: center;
        gap: $spacing-xs;
    }
    nav ul li .messageCount {
        position: relative;
        margin-top: -12em;
    }
}

@media screen and (max-width: 530px) {
    body {
        grid-template-rows: 5em 1fr;
    }
    main,
    .header_main {
        padding: $spacing-xs;
        // grid-template-columns: min-content 1fr min-content;
    }
    .header_main {
        grid-template-columns: min-content 1fr min-content;
    }
    .header_main .date {
        text-align: right;
    }
    main .welcomeBack {
        padding: 0 $spacing-xs;
    }
    main .welcomeBack .textContainer {
        padding: $spacing-xs;
        grid-column: auto / 2 span;
        gap: $spacing-xxs;
    }
    .welcomeBack svg {
        display: none;
    }
    .header_aside,
    .header_nav {
        display: none;
    }
}